body {
    /* background-color: #ECECEE; */
    background-color: #E0E0E0;
    padding: 0;
    font-family: "Poppins";

}

* {
    box-sizing: border-box;
}

body p {
    margin-bottom: 0px;
}

textarea {
    padding: 20px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.dashboard {
    padding-top: 30px;
    padding-left: 0;
}


.dashboard-navbaar {
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    justify-content: flex-start;
    align-items: center;
    width: 18%;
    row-gap: 25px;
    height: 100vh;
    overflow: hidden;
}

.dashboard-navbaar--icon {
    align-items: center;
    height: 20%;
    background-color: white;
    border-radius: 0 30px 30px 0;
    width: 100%;
    /* object-fit: contain; */
}

.dashboard-navbaar--icon img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.dashboard-navbaar--links {
    height: 70vh;
    width: 100%;
    background-color: white;
    border-radius: 0 30px 30px 0;
    padding-top: 40px;
    row-gap: 20px;
}

.dashboard-navbaar--links p {
    font-weight: 500;
}

.dashboard-navbaar--links--button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: none;
    width: 80%;
    border-radius: 15px 0 0 15px;
    column-gap: 5%;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;

}

.active {
    background-color: #e0e0e0;
}

.dashboard-navbaar--links--button p {
    margin: 0;
    font-size: 16px;
    color: #2F2F2F;
}

.dashboard-navbaar--links--button img {
    width: 30px;
}

.dashboard-content {
    width: 80%;
    height: 100%;
    row-gap: 50px;
}

.dashboard-content-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: max-content;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.dashboard-content--navbaar {
    display: flex;
    flex: row;
    column-gap: 20px;
    height: max-content;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    width: 100%;
}

.dashboard-content--dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    row-gap: 50px;
}

.dashboard-content--cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    row-gap: 20px;
    column-gap: 5%;
    width: 90%;
}

.dashboard-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: white;
    border-radius: 10%;
    width: 30%;
    row-gap: 25px;
}

.dashboard-card--info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 16px;
}

.dashboard-card--info>img {
    width: 50px;
    height: auto;
    object-fit: contain;
}

.dashboard-card--info--amount {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.dashboard-card--info--amount p {
    margin-bottom: 0rem;
}

.dashboard-card--graph {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dashboard-content-start-campaign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    row-gap: 50px;
}

.dashboard-content-section-2 {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    background-color: white;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;
    border-radius: 30px;
    width: 90%;
    height: max-content;
    margin-left: 20px;
}

.dashboard-content-section-2 button {
    background-color: rgb(36, 33, 33);
    color: white;
    width: 25%;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 16px;
}

.dashboard-content-section-2 button:hover {
    /* transform: scale(1.1); */
    transition: 0.5s;
    animation: linear;
    background-color: white;
    color: black;
    border: 2px solid black;
    font-weight: bold;
}


.message-groups--filter--delivery input {
    border-radius: 10px;
}


.dashboard-content--create-groups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    margin-left: 20px;
    background-color: white;
    border-radius: 30px;

}


.dashboard-content-section-3 {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin-left: 20px;
    border-radius: 30px;
    background-color: #F2F2F2;
    padding: 30px;
    row-gap: 20px;
    font-size: 16px;
}

.dashboard-content-section-3-navbar {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;

}


.send-message-from {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    background-color: #E0E0E0;
    border-radius: 15px;
    padding: 10px;
    width: 35%;
}

.send-message-from-with-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.send-message-from p {
    margin-bottom: 0px;
    width: 80%;
}

.send-message-from img {
    width: 20%;
    height: 20%;
    min-width: 20px;
    min-height: 20px;
}

.send-message-from select {
    border-radius: 10px;
    width: 60%;
}

.credits-needed {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    background-color: #E0E0E0;
    border-radius: 15px;
    padding: 10px;
    width: 25%;
}

.credits-needed-with-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2%;
}

.credits-needed p {
    margin-bottom: 0px;
}

.credits-needed img {
    width: 20%;
    height: 20%;
    min-width: 20px;
    min-height: 20px;
}

.local-time {
    display: flex;
    flex-direction: row;
    /* column-gap: 10px; */
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    background-color: #E0E0E0;
    border-radius: 15px;
    padding: 10px;
    width: 35%;
}

.local-time-with-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 45%;
    column-gap: 2%;
}

.local-time p {
    margin-bottom: 0px;
}

.local-time img {
    width: 25%;
    height: 25%;
    min-width: 20px;
    min-height: 20px;
}

.dashboard-content-section-3-body {
    display: flex;
    flex-direction: row;
    /* width: 90%; */
    height: 100%;
    /* margin-left: 20px; */
    border-radius: 20px;
    background-color: white;
    padding: 30px;
    column-gap: 20px;
}

.dashboard-content-section-3-body-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.dashboard-content-sender {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.sender-id {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    justify-content: flex-start;
    width: auto;
}

.sender-id p {
    margin-bottom: 0px;
}

.sender-id-input input {
    border-radius: 10px;
    padding: 30px;
    padding-left: 20px;
    border: 1px solid black;
}

.receivers-list {
    background-color: #F2F2F2;
    padding: 30px;
    border-radius: 10px;
    width: 60%;
    height: max-content;
}

.receivers-list p {
    margin-bottom: 3px;

}

.receivers-list-radio-checklist {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}

.receivers-list-radio-checklist p {
    margin-bottom: 0px;
}

.message-groups {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    row-gap: 15px;
    width: 85%;
}

.message-groups--filter--title {
    display: flex;
    flex-direction: column;
}

.input-border-radius {
    border-radius: 8px;
    border: 1px solid black;
    padding: 10px;
}

.message-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 85%;
    row-gap: 15px;
}

.message-manual {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 85%;
    row-gap: 15px;
}

.message-manual--phone {
    display: flex;
    flex-direction: column;

}

.message-manual--number textarea {
    padding: 2%;
    border-radius: 10px;
}

.message-groups {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message-select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    row-gap: 15px;
    font-size: 16px;
}

.message-select p {
    margin-bottom: 0px;
}

.message-select select {
    border-radius: 7px;
    width: 50%;
    padding: 5px;
    height: max-content;
}

.facebook-link {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

.facebook-link button {
    background-color: rgb(79, 79, 232);
    border: none;
    border-radius: 5px;
    color: white;
}

.sms-mms-checkbox {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}

.sms-mms-checkbox p {
    margin-bottom: 0px;
}

.pick-file {
    background-color: black;
    color: white;
    display: inline-block;
    width: 24%;
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    height: max-content;
    cursor: pointer;
}

.pick-file input {
    width: 100%;

}


.pick-file-image img {
    width: 30%;
    height: 100%;
}

.pick-file label {

    cursor: pointer;
    text-align: center;
    justify-content: center;
    padding-left: 3%;
}


/* Toggle switch */

.switch {
    position: relative;
    display: inline-block;
    width: 5%;
    height: max-content;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1%;
    width: 1%;
    left: 4%;
    bottom: 2.5px;
    background-color: rgb(230, 33, 33);
    -webkit-transition: .4s;
    transition: .4s;
}


input:checked+.slider {
    background-color: #ccc;
    color: #22B573;
}

input:focus+.slider {
    box-shadow: 0 0 1px #ccc;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #22B573;
}

/* Rounded sliders */
.slider.round {
    border-radius: 3.4%
}

.slider.round:before {
    border-radius: 50%;
}


.number-pool {
    display: flex;
    flex-direction: row;
    column-gap: 1.5%;
    align-items: center;
    justify-content: flex-start;
    height: max-content;
}

.number-pool p {
    margin-bottom: 0px;
    font-size: 16px;
}

.number-pool-contents {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.number-pool-contents-checkbox-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
    justify-content: flex-start;
}

.dashboard-content-section-3-body-right {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 60%;
}

.dashboard-content-section-3-body-right textarea {
    background-color: #F2F2F2;
    border-radius: 10px;
    border: none;
    width: 100%;
    padding: 40px;

}

.dashboard-content-section-3-body-right p {
    margin-bottom: 5px
}

.message-preview {
    width: 100%;
    row-gap: 15px;
}

.message-preview textarea {
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 2%;
}

.number-of-characters {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.number-of-characters-left {
    width: 60%;
}

.number-of-characters-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.number-of-characters-right button:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.number-of-characters-right-top-bottoms {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: space-between;
}

.variation-btn {
    width: 50%;
}

.spin-btn {
    width: 50%;
}

.spin-question-button {
    display: flex;
    align-items: center;
    justify-content: center;

}

.number-of-characters-right-top-bottoms button {
    border: none;
    border-radius: 7px;
    background-color: #333333;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.send-message-btn {
    border: none;
    border-radius: 7px;
    background-color: #22b573;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dashboard-filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.table {
    border-collapse: separate;
    border-spacing: 0 20px;
}

.dashboard-filter input,
.dashboard-filter select {
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.dashboard-filter label {
    font-size: 16px;
}

.dashboard-filter select,
.dashboard-filter input[type="date"] {
    border: 1px solid black;
}

.dashboard-filter input[type="text"],
.dashboard-filter input[type="tel"] {
    background-color: #e6e6e6;
}

.page-icons-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #e6e6e6;
    border-radius: 15px;
    height: max-content;
    padding: 10px;
}

.page-icons-list>img:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

/* Chatbox css */

.dashboard-content--chatbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    row-gap: 50px;
}

.chatbox {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-left: 0;
    background-color: #E6E6E6;
    column-gap: 30px;
}

.message-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: max-content;
    row-gap: 30px;
    background-color: #F2F2F2;
    border-radius: 30px;
}

.message-content--navbar--number {
    column-gap: 10px;
    width: 30%;
    justify-content: space-between;
    background-color: #e6e6e6;
    border-radius: 15px;
    padding: 8px;
}

.message-content--navbar--number input[type="tel"] {
    width: 40%;
    background-color: white;
}

.message-content--navbar--number input[type="email"] {
    width: 60%;
    background-color: white;
    font-size: small;
}

.message-content--navbar--icons {
    width: 70%;
}

.message-content--navbar--icons img {
    width: 45px;
    height: max-content;
}

.message-content-body {
    padding: 1%;
    border-radius: 20px;
    background-color: #e6e6e6;
    height: max-content;
}

.message-content-body-main {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    height: 75vh;
    padding: 1%;
}

.send-email-body-main {
    height: max-content;
}

.message-content-body-main-left {
    display: flex;
    flex-direction: column;
    row-gap: 2%;
    width: 35%;
    background-color: white;
    border-radius: 20px;
    padding: 8px;

}

.chatbox-contacts-search {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
}

.chatbox-contacts-search select {
    border-radius: 10px;
    border-width: 1px;
    width: 80%;
    padding: 5px;
    border: 0.5px solid black;
    opacity: 0.7;
    font-size: small;
}

.chatbox-contacts-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 2%;

}

.chatbox-contacts-list-name-icon {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    border: none;
    background-color: white;
}

.chatbox-contacts-list-name-icon img {
    width: 40px;
}

.chatbox-contacts-list-name-email {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.message-content-body-main-right {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 1%;
    border-radius: 20px;
    background-color: white;
    width: 65%;
}

.message-content-body-main-right-head {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    align-items: center;
    font-weight: 600;
}

.message-content-body-main-right-head-left {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    max-width: 65%;
    font-size: small;
}

.message-content-body-main-right-inbox {
    display: flex;
    flex-direction: column;
    row-gap: 2%;
    overflow: scroll;
    padding: 2%;
    padding-right: 3%;
}

::-webkit-scrollbar {
    display: none;
}


.chatbox-inbox-message-sent {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    justify-content: flex-end;
    align-items: flex-end;
}

.chatbox-inbox-message-sent-text {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 5px;

}

.chatbox-inbox-message-received {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    justify-content: flex-start;
    align-items: flex-start;
}

.chatbox-inbox-message-received-text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.message-content-body-main-right-footer {
    display: flex;
    flex-direction: row;
    column-gap: 1%;
    align-items: center;
    padding: 1%;
    justify-content: space-between;
}



.message-content-body-main-right-footer input {
    width: 70%;
    border: none;
    font-style: italic;
}



.message-content-body-main-right-bottom-credits {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    font-size: small;
    opacity: 80%;
    font-style: italic;
}



.dropbtn-down {
    color: black;
    border: none;
    cursor: pointer;
}



.message-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: fit-content;
    min-height: fit-content;
    align-items: center;
    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.message-dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.message-dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .message-dropdown-content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-evenly;
    padding: 15px;
}


.dropbtn-up {

    color: black;
    border: none;
}

.dropup {
    /* position: relative; */
    display: inline-block;
}

.dropup-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: fit-content;
    /* min-height: fit-content; */
    bottom: 25px;
    right: -140px;
    left: -70px;
    z-index: 1;
    box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.dropup-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropup-content a:hover {
    background-color: #ccc
}

.dropup:hover .dropup-content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 15px;
    border-radius: 10px;
    min-width: fit-content;

}

.dropup-content-rows {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    /* min-width: fit-content; */

}

.message-content-body-main-right-text {
    padding: 10px;
    opacity: 0.7;
    font-size: small;
}



.message-content-body-main-right-footer-send-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

/* CONTACT PAGE */

.contact-page {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 90%;

}

.contact-page p {
    margin: 0px;
}

.contact-page-navbar-icons {
    width: 60%;
}

.contact-page-navbar-icons img {
    width: 40px;
    height: max-content;
}

.contact-page-navbar-page-search {
    justify-content: space-between;
    width: 40%;
    background-color: white;
    padding: 8px;
    border-radius: 15px;
    height: max-content;
}

.contact-page-navbar-page-search p {
    margin-bottom: 0px;
    width: 35%;
}

.contact-page-navbar-page-search input {
    background-color: #e6e6e6;
    width: 50%;
}

.contact-page-mid-div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: white;
    padding: 20px;
    font-size: large;
    border-radius: 20px;

}

.contact-search--filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* column-gap: 15px; */
    row-gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.contact-search--filter p {
    width: 50%;
}

.contact-filter {
    align-items: flex-start;
    width: 50%;
    column-gap: 5px;
    row-gap: 5px;
    flex-direction: column;
}

.contact-filter input,
.contact-filter select {
    width: 80%;
}

.contact-filter label {
    width: 50%
}

.contact-search-no-border-right-reset {
    font-weight: 600;
    background-color: #e6e6e6;
    border-radius: 6px;
    padding: 2px;
    width: 30%;
    font-size: 16px;
    border: none;
}

.contact-page-mid-div-search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.contact-page-mid-div-search-button button {
    border: none;
    width: 12%;
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: rgb(53, 202, 53);
}

.contact-page-last-div {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding: 20px 0px 20px 40px;
    /* font-size: large; */
    background-color: white;
    border-radius: 20px;
}

.table-actions {
    width: 25%;
}

.table-actions img {
    width: 26px;
}

.table-actions img:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.table-actions-activity {
    width: 15%;
}


/* ACTIVITY PAGE */

.activity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    row-gap: 40px;
    background-color: #f2f2f2;
    font-family: "Poppins", sans-serif;
}

.activity-navbar--number {
    width: 30%;
    justify-content: space-between;
    background-color: #e6e6e6;
    border-radius: 15px;
    padding: 10px;
    height: max-content;
}

.activity-navbar--number p {
    width: 30%;
    margin: 0;
    padding-left: 8px;
}

.activity-navbar--number select {
    width: 60%;
}

.activity-navbar--icons {
    width: 70%;
}

.activity-navbar--icons>img {
    width: 6.5%;
}

.activity-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    row-gap: 40px;
}

.activity-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    width: 100%;
    background-color: white;
    width: 100%;
    border-radius: 15px;
    padding: 15px;
}

.activity-search--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    width: 100%;
    font-size: 20px;
}

.activity-search--filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* column-gap: 15px; */
    row-gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.activity-filter {
    column-gap: 5px;
    row-gap: 5px;
    width: 30%;
    justify-content: flex-start;
}

.activity-filter input,
.activity-filter select {
    width: 100%;
}

.activity-filter label {
    width: 100%;
}

.activity-filter img {
    width: 20px;
}

.activity-search--buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.activity-search--buttons--button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.activity-search--buttons--button button {
    width: 15%;
    border: none;
    border-radius: 10px;
    padding: 8px;
    background-color: #22B573;
    color: #fff;
    font-size: 16px;
}

.activity-search-buttons--records {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    column-gap: 15px;
    font-size: 12px;
    width: 20%;
}

.activity-search-buttons--records select {
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 6px;
    font-size: 0.9vw;
}

.activity-search-buttons--records label {
    font-size: 0.8vw;
    width: 60%;
}

.activity-page-last-div {
    display: flex;
    flex-direction: column;
    padding: 2% 0% 2% 4%;
    row-gap: 50px;
    /* font-size: large; */
    background-color: white;
    border-radius: 20px;
    width: 100%;
    font-size: 16px;
}

/* ACTIVITY PAGE END */

/* DROPDOWN QUESTION MARK ICON */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    font-size: 14px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* DROPDOWN QUESTION MARK ICON END */

/* FAX PAGE */

.fax-page {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 90%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.fax-input {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
}

.fax-pickfile {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.fax-input select,
.fax-input input {
    width: 50%;
}

.pick-file-fax {
    background-color: black;
    color: white;
    display: inline-block;
    width: 12%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    border-radius: 8px;
    height: max-content;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
}

.pick-file-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fax-credits-note {
    align-items: center;
    font-size: small;
    padding: 8px;
    background-color: rgba(249, 160, 160, 0.8);
    border-radius: 5px;
    font-weight: 500;
}

.send-fax-modal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 30px;
}

.send-fax-modal p {
    text-align: center;
    display: flex;
    width: 35%;
    justify-content: flex-end;
    align-items: center;


}

.send-fax-modal-input {
    width: 45%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;


}

.pick-file-image-fax {
    width: 40%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}


/* FAX PAGE END */

/* VOICE BROADCAST PAGE */

.voice-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    row-gap: 40px;
    background-color: #f2f2f2;
    font-family: "Poppins", sans-serif;
}

/* VOICE BROADCAST  PAGE END */

.hide {
    display: none;
}