p {
    margin: 0px;
}

.chatbox-content {
    background-color: #f2f2f2;
    border-radius: 30px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-family: "Poppins";


}

.chatbox-navbar {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
}

.chatbox-navbar-left {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    width: 35%;
    justify-content: space-between;
    align-items: center;
    background-color: #e6e6e6;
    padding: 1%;
    border-radius: 18px;
}

.chatbox-navbar-left input {
    border: none;
    padding: 2%;
    border-radius: 10px;
}

.chatbox-navbar-right-icons {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    justify-content: space-between;
    width: 65%;
    align-items: center;
    background-color: #e6e6e6;
    padding: 0.6%;
    border-radius: 18px;
}

.chatbox-content-body {
    padding: 1%;
    border-radius: 20px;
    background-color: #e6e6e6;

}

.chatbox-content-body-main {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    height: 75vh;
    padding: 1%;
}

.chatbox-content-body-main-left {
    display: flex;
    flex-direction: column;
    row-gap: 2%;
    width: 35%;
    background-color: white;
    border-radius: 20px;
    padding: 1%;

}

.chatbox-contacts-search {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
}

.chatbox-contacts-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 2%;

}

.chatbox-contacts-list-name-icon {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    align-items: center;
}

.chatbox-content-body-main-right {
    display: flex;
    flex-direction: column;
    row-gap: 2%;
    padding: 1%;
    border-radius: 20px;
    background-color: white;
    width: 65%;
}

.chatbox-content-body-main-right-head {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    align-items: center;
    font-weight: 600;
}

.chatbox-content-body-main-right-inbox {
    display: flex;
    flex-direction: column;
    row-gap: 2%;
    overflow: scroll;
    padding: 2%;
    padding-right: 3%;
}

::-webkit-scrollbar {
    display: none;
}


.chatbox-inbox-message-sent {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    justify-content: flex-end;
    align-items: flex-end;
}

.chatbox-inbox-message-sent-text {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 5px;

}

.chatbox-inbox-message-received {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    justify-content: flex-start;
    align-items: flex-start;
}

.chatbox-inbox-message-received-text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.chatbox-content-body-main-right-footer {
    display: flex;
    flex-direction: row;
    column-gap: 1%;
    align-items: center;
    padding: 1%;
    justify-content: space-between;
}



.chatbox-content-body-main-right-footer input {
    width: 70%;
    border: none;
    font-style: italic;
}



.chatbox-content-body-main-right-bottom-credits {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    font-size: small;
    opacity: 80%;
    font-style: italic;
}



.dropbtn-down {
    color: black;
    border: none;
    cursor: pointer;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: fit-content;
    min-height: fit-content;
    align-items: center;
    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-evenly;
    padding: 15px;
}


.dropbtn-up {

    color: black;
    border: none;
}

.dropup {
    /* position: relative; */
    display: inline-block;
}

.dropup-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: fit-content;
    min-height: fit-content;
    bottom: 25px;
    right: -65px;
    z-index: 1;
    box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.2);
}

.dropup-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropup-content a:hover {
    background-color: #ccc
}

.dropup:hover .dropup-content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 15px;
    border-radius: 10px;

}

.dropup-content-rows {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}