body p {
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

.voice-content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: #f2f2f2;
    padding: 20px;
}

.voice-navbar {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 100%;
    height: fit-content;
}

.voice-navbar-left {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 35%;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: white;
    border-radius: 20px;
}

.voice-navbar-left input {
    border: none;
    background-color: #e6e6e6;
    border-radius: 10px;
    padding: 2.5%;
}

.voice-navbar-right-icons {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 65%;
    justify-content: space-between;
    align-items: center;
    padding: 0.4%;
    background-color: #e6e6e6;
    border-radius: 20px;

}

.voice-mid {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.voice-mid-note {
    background-color: rgba(249, 160, 160, 0.8);
    border-radius: 10px;
    padding: 1%;
}

.voice-mid-selects {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;

}

.voice-mid-selects-left {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 50%;
    align-items: center;
}

.voice-mid-selects-left select {
    width: 30%;
    border-radius: 10px;
    padding: 1%;
}

.voice-mid-selects-right {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.voice-mid-selects-right select {
    width: 30%;
    border-radius: 10px;
    padding: 1%;
}

.voice-mid-message {
    display: flex;
    flex-direction: row;
    column-gap: 4%;
    align-items: center;
}

.voice-mid-message input {
    width: 92%;
    padding: 0.6%;
    border: none;
    background-color: #e6e6e6;
    border-radius: 10px;
}

.voice-mid-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.voice-mid-button button {
    background-color: #22B573;
    color: white;
    width: 12%;
    border: none;
    border-radius: 10px;
    padding: 0.5%;
}

.voice-last {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    padding: 2%;
    background-color: white;
    border-radius: 20px;
}

.voice-last-table-names {
    display: flex;
    flex-direction: row;
    column-gap: 10%;


}

.voice-last-table-names-left {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 40%;
    align-items: center;
    justify-content: space-between;
}

.voice-last-table-names-right {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
}

.actions {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 10px;
}